@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden; /* App-like feel */
}

@layer utilities {
  .glass-panel {
    @apply bg-zinc-900/40 backdrop-blur-xl border border-white/5 shadow-2xl;
  }
  
  .neon-text {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
}
